/* Estilos de index.html */
@import url("./variables.css");

/* Estilos del NAV */
nav ul {
    list-style-type: none;
    margin: 0;
    margin-left: 5%;
    padding: 0;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
nav ul li:nth-child(2) {
    font-size: larger;
    font-weight: bold;
}
nav ul li:nth-child(3):hover {
    background-color: var(--bg-input-color);
    border-radius: 5px;
}
nav ul li a,
nav > a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--primary-black-text);
    transition: var(--bg-input-color) 0.3s;
}
nav ul li a:hover {
    background-color: var(--primary-color);
    border-radius: 5px;
}
.nav ul li ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav ul li .centro {
    display: flex;
    align-items: center; /* Centramos Verticalmente */
}
.nav ul li .centro i {
    margin-right: 10px; /* Añadimos espacio entre los iconos y el texto */
}

.menu-desplegable li a {
    background-color: var(--color-fondo);
    font-family: var(--font-Kontumruy);
    display: block;
    text-decoration: none;
    padding: 0.2rem 1rem;
    color: black;
    font-size: 1rem;
    width: 10rem;
    height: 2rem;
}

.menu-desplegable li:hover a {
    background-color: var(--color-botones-detalles);
}



/* Estilos del MAIN */

/* IMAGEN LIBRO SELECCIONADO */
.main {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.seleccionado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* adjust as needed */
}
.img-container {
    position: relative;
    width: 60%; /*le damos un tamaño fijo y lo centramos*/
    margin: 0 auto; 
}
.img-selec {
    margin: 0;
    padding: 0;
    width: 100%; /* hacemos que la imagen se adapte al ancho del container */
    height: auto; /* dejamos la altura en automático para que se mantenga relación de aspecto*/
    border-radius: 10px;
    background-color: var(--secondary-color);
    overflow: hidden;
}
.comentarios {
    position: absolute;
    size: 150%;
    top: 5px;
    right: 5px;
    background-color: var(--bg-color); /* transparencia para el fondo del botón */
    border-radius: 5px;
    color: var(--primary-color); /* color del ícono */
    outline: none; 
}

.fa-comments {
    font-size: 20px; /* Acá ajustamos el tamaño del ícono */
}


.zocalo {
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
}
.zocalo > .titulo-calado{
    margin-left: 5px;
    padding: 0;
    grid-column: 1;
    color: white; /* Color del texto */
    mix-blend-mode:luminosity; /* Modo de mezcla para hacer el texto calado */
    -webkit-text-stroke-width: 0.1px; /* Ancho del contorno */
    -webkit-text-stroke-color: black; /* Color del contorno */
}
.zocalo > .descargas {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5px;
    padding: 0;
    grid-column: 2; /* Primera columnna */
}
.zocalo > .autor {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: -40px;
    margin-right: 5px;
    padding: 0px;
    grid-column: 2; /* Segunda columnna */
}

.main {
    display: flex;
    flex-direction: column;
}

.populares {
    width: 80%;
    margin-top: 20px;
}

.h2 {
    color: var(--primary-black-text);
}

.cards-horizontales {
    display: grid;
    grid-template-columns: 1fr; /* Por defecto una card por fila */
    gap: 5px;
}



.cardHorizontal {
    display: flex; 
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
}

.cardHorizontal a {
    flex: 0 0 20%; /* Seteamos width de la imagen */
}

.tapa {
    width: 100%; 
    height: auto;
}
.columna-dos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardHorizontal .titulo-libro-card, .autor-libro-card, .calificacion {
    flex: 1; 
    padding: 10px; /* Añadimos padding para dejar más espacio entre cartas */
    display: block; 
    color: var(--primary-black-text);
    
}
.cardHorizontal .titulo-libro-card{
    margin-top: -10px;
}
.cardHorizontal .autor-libro-card, .calificacion{
    margin-top: -30px;
}

.calificacion em {
    display: block; 
    margin-top: 5px; 
}

/* NAV INFERIOR */

.nav-inf {
    max-width: 1200px;
    position: fixed;
    bottom: 0;
    left: 50%;
    /* Centra horizontalmente */
    transform: translateX(-50%);
    /* Centra horizontalmente */
    box-shadow: 0px 5px 30px var(--primary-color);
    background-color: var(--bg-color);

    width: 100%;
    height: 7.5vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-inf a{
    border: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

/* Footer */
.footer{
    text-align: center;
}

/* MEDIAS QUERIES */

@media (min-width: 768px) {
    .cards-horizontales {
        grid-template-columns: repeat(2, 1fr); 
    }
}

/* Celulares hasta 600px */
@media screen and (max-width: 600px) {
    .contacto{
        display: none;
    }
}
/* Laptops/Desktop desde 992px*/
@media screen and (min-width: 600px) {
    .nav-inf {
        display: none;
    }
}