/* Configuración de las variables globales */

:root{
    --primary-color:#BFA054;
    --secondary-color:#858585;
    --bg-color:#FBF8F2;
    --bg-input-color:#F5EFE1;
    --primary-font: "DM Serif Display", serif;
    --secondary-font: "Kantumruy";
    --primary-black-text: #2F2F2F;
}
body, html{
    font-family: var(--primary-font);
    background: var(--bg-input-color);
    margin: 0;
    padding: 0;
}
header {
    background-color: var(--bg-input-color);
    padding: 2vh 0;
    margin: 0;
}